[Desktop Entry]
Encoding=UTF-8
Name=BitDollar Core
Comment=BitDollar P2P Cryptocurrency
Comment[de]=Verbinde mit dem BitDollar peer-to-peer Netzwerk
Comment[fr]=BitDollar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BitDollar, eşten eşe kriptografik sanal para birimi
Exec=bitdollar-qt %u
Terminal=false
Type=Application
Icon=bitdollar128
MimeType=x-scheme-handler/bitdollar;
Categories=Office;Finance;
